body{
	/*//background-color: #eee;*/
	background-image:url('lavender.jpg');
	background-size: cover;
}

#mainArea{
	padding:5px;
}

.view{
	background-color: rgba(0,0,0,0.5);
	color:#eee;
	border-radius: 5px;
	padding:5px;
	height:100%;
	width:100%;
}

#filterDiv{
	color:#eee;
}

#filterDiv fieldset{
	background-color: rgba(0,0,0,0.5);
}

li, fieldset{
	border-color:#888;
}

wow-task-li li{
	background-color: rgba(0,0,0,0.5);
}

wow-task-li li:hover{
	background-color: rgba(0,0,0,0.6);
}

button{
	background-color: #D9CCEC;
	/*color:#DFECE4;*/
	border:none;
	cursor: pointer;
}

button:hover{
	background-color: #F5F0FB;
}

select[multiple] option:nth-child(2n){
	background-color: #D9CCEC;
}

select[multiple] option:hover{
	cursor:pointer;
	background-color: #c3b7d4;
	/*filter:brightness(-15%);*/
}

.sidebar{
	background-color: #b69fd4;
}

#viewNavigiation{
	width:100%;
	margin:0;
	padding:0;
	display:flex;
}

#viewNavigiation li{
	flex-grow: 1;
	background-color: #D9CCEC;
}

#viewNavigiation li:hover{
	background-color: #F5F0FB;
}


/*.addTaskDiv:active{
	border: 1px solid #888;
}*/
